html {
	font-size: 62.5%;
}

*,
*::before,
*::after {
	font-family: 'Fredoka', sans-serif;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-color: rgb(238, 247, 255);
}

body {
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	position: relative;
	background-color: var(--background-color);
	overflow: hidden;
}
