.header {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.quit {
	--button-size: 40px;

	width: var(--button-size);
	height: var(--button-size);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	inset: 0% 0% 100% 100%;
	border: none;
	transform: translate(-50%, -50%);
	transition: transform 0.2s;
	border-radius: 50%;
	cursor: pointer;
}

.quit:hover {
	transform: translate(-50%, -50%) scale(1.05);
}

.headerPoints {
	font-weight: bold;
	font-size: 1.6rem;
}
