.victory {
	width: 100%;
	min-height: 200px;
	height: fit-content;
	max-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.victoryTitle {
	font-size: 3rem;
}

.victoryMessage {
	margin: 10px 0 20px;
}
